{% extends 'base.html' %}
{% block content  %}
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
           {% if enter %}
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Type Url</h1>
                    <div class="px-2">
                        <form action="/link_summary" class="justify-content-center" method='POST'>
                            <div class="form-group">
                                <input type="text" class="form-control" name='raw_url'>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </form>
                    </div>
                </div>
                {%else%}
                <div>
                <p style="text-align:center; font-size:300%">Summary of Url</p>
                <div class="card" style="margin: auto;width: 50%; border: 3px solid green;padding: 10px;">
                    <div class="card-body">
                        <p class="card-text">{{output_summary}}</p>
                    </div>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock  %}